@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;





}

nav{
    color: green;
    background-color: black;
    width: 100%;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    
}

nav h1{
    font-size: 17px;
}

#part h2{
    font-size: 16px;
    font-weight: 400;
}

#part{
    padding-bottom: 100px;
}

