#banner{
    background-color: $dark-blue;
    padding: 7% 10%;

    .banner{
        display: flex;


        .leftside{
            width: 50%;
            position: relative;
            .star{
                position: absolute;
                top: 0;
                right: 30%;
            }
            h5{
               @extend %h5text;
                padding-bottom: 3%;
            }
            h1{
                @extend %h1text;
                padding-bottom: 4%;
                z-index: 1000;
    
            }
            p{
              @extend %ptext;
                padding-bottom: 6%;
                
            }

            .avatar{
                display: flex;
                column-gap: 15px;
                
                span{

                    color: white;
                }
            }
        }
        .buttons{
            display: flex;
            align-items: center;
            gap: 25px;
            padding-bottom: 25%;
    
            button{
    
                @extend %buton
    
            }
    
            .contact{
                font-weight: 300;
                background-color: $dark-blue;
                border: 1px solid $dark-blue;
            }
    
    
        }

    }
}


#footer1{
    background-color: $orange;

    .container{
    padding: 5%;


        .banner{
            display: flex;
            align-items: center;
            gap: 60px
        }
    }

    h1{
        @extend %h1text;
        padding-bottom: 4%;
    }
    p{
        @extend %ptext;
        padding-bottom: 6%;

    }
    .white{
        background-color: white;
        color: $dark-brown;
        @extend %buton;
    }

    .leftside{
        width: 50%;
    }

    .rightside{
        width: 50%;

        img{
            width: 100%;
        }
    }
}