#banner{
    background-color: $dark-blue;
    padding: 7% 10%;
    display: flex;
    .leftside{
        width: 50%;
        h5{
            font-size: 16px;
            font-weight: 200;
            color: $orange;
            padding-bottom: 3%;
        }
        h1{
            font-weight: 700;
            color: white;
            font-size: 72px;
            padding-bottom: 4%;

        }
        p{
            font-size: 16px;
            color: $gray;
            padding-bottom: 6%;
            
        }
    }
    .buttons{
        display: flex;
        align-items: center;
        gap: 25px;

        button{

            @extend %buton

        }

        .contact{
            font-weight: 300;
            background-color: $dark-blue;
            border: 1px solid $dark-blue;
        }


    }
}