%h1text{
    font-weight: 700;
    color: white;
    font-size: 72px;

    position: relative;


}

%ptext{
    font-size: 16px;
    color: $gray;
}

%h5text{
    font-size: 16px;
    font-weight: 200;
    color: $orange;
}